.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #833ab4, #f50057, #fcb045, #b345fc)
    47% 0%;
}
