.wrapper {
  padding: 40px 0;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 35px;
}

.text {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(to right, #833ab4, #f50057, #fcb045, #b345fc) 47%
    0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info {
  font-size: 20px;
  color: var(--secondaryTextColor);
}
