/* .nav {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 0 40px;
  background-color: #34495e;
  box-shadow: var(--boxShadow);
}

.link {
  display: inline-block;
  padding: 12px;
  font-weight: 500;
  color: var(--primaryTextColor);
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: var(--accentColor);
} */
